/* === Estilos generales === */

body{
    font-family: Arial, sans-serif;
    background: #f4f4f4;
    margin: 0;
    padding: 0;
    color: #333;
    transition: background 0.3s, color 0.3s;
}

header{
    background: #0066cc;
    color: white;
    padding: 1.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.profile{
    display: flex;
    align-items: center;
    gap: 1rem;
}

article{
    background: white;
    margin: 1rem;
    padding: 1rem;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

table{
    width: 100%;
    border-collapse: collapse;
    margin-top: 1rem;
    border: #0066cc, 2px solid;
    border-radius: 8px;
    border-color: #0066cc;

}

ol{
    list-style-type: upper-roman;
    padding-left: 1.5rem;
}

ul{
    list-style-type: circle;
    padding-left: 12;
}